{% set title = 'Index' %} {% extends 'layouts/main.html' %} {% block content %}
<div class="flex justify-center mt-32">
  <div class="max-w-sm rounded overflow-hidden shadow-lg text-center">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Frontend Development Starter</div>
      <p class="text-gray-700 text-base">
        A frontend development starter powered by Gulp, Alpinejs, Tailwindcss,
        Babel, Webpack, SASS & BrowserSync.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <a target="_blank" href="https://github.com/ariakm25/frontend-dev-starter"
        class="inline-block bg-gray-200 hover:bg-teal-400 hover:text-white rounded-sm px-3 py-2 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >
        Visit Repository
      </a>
      <a target="_blank" href="https://github.com/ariakm25" class="text-gray-400 text-sm block mt-4 mb-2">Repository by ariakm25</span>
    </div>
  </div>
</div>
{% endblock %}
