<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>{{ title | safe }} &mdash; {{ name }}</title>

    <!-- App Styles -->
    <link rel="stylesheet" href="assets/styles/app.css" />
  </head>

  <body>
    <div id="app">{% block content %}{% endblock %}</div>

    <!-- App Scripts -->
    <script src="assets/scripts/app.js"></script>
  </body>
</html>
